.c-search_field {
    margin-bottom: 15px;
}
.c-search_field input {
    width: 960px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #e50914;
    background: #000;
    color: #fff;
    outline: none;
}