// Backgrounds color
$scroll-background-color: #66CDAA;
$orange-scroll-background-color: #FF6347;
$orange-button-background-color: #FF6347;
$about-bg-color: #F5F5F5;
$testimonial-bg-color: #F5F5F5;
$footer-bg-color: #F5F5F5;
$underline-background-color: #FF6347;
$white-background: #fff;
$testimonial-nav-color: #9E9E9E;
$contact-button-bg-color: #66CDAA;
$contact-input-color: #CFCFCF;

// Borders color
$scroll-border-color: #66CDAA;
$orange-scroll-border-color: #FF6347;
$button-border-color: #fff;

// Fonts
$base-font-family: Open Sans, sans-serif;
$base-font-size: 0.875em;
$button-font-size: 0.75em;
$base-letter-spacing: 3px;
$white-font-color: #fff;
$black-font-color: #000000;
$scroll-font-color: #66CDAA;
$gray-font-color: #A9A9A9;
$contact-font-color: #7e7e7e;

$contact-font-size: 1.125em;
$contact-button-font-size: 1.0625em;
$contact-input-font-size: 0.875em;