// Backgrounds color
$header-bg-color: #fff;
$header-button-bg-color: #e5e5e5;
$header-button3-bg-color: #4a90e2;
$LegendSizeTopPanel-bg-color: #f3f3f3;

// Fonts
$header-button-font-color: #545454;
$header-button-font-size: 15px;
$header-button3-font-color: #fff;