// Backgrounds color
$scroll-background-color: #66CDAA;
$orange-scroll-background-color: #FF6347;
$about-bg-color: #F5F5F5;
$underline-background-color: #FF6347;

// Borders color
$scroll-border-color: #66CDAA;
$orange-scroll-border-color: #FF6347;

// Fonts
$base-font-family: Open Sans, sans-serif;
$base-font-size: 0.875em;
$base-letter-spacing: 3px;
$white-font-color: #fff;
$black-font-color: #000000;
$scroll-font-color: #66CDAA;