svg {
    background: lightblue;
}
text,
textPath {
    font-size: 16px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    letter-spacing: 1;
}
.push-text {
    font-size: 20px;
    font-weight: bold;
}