@import '~styles/variables.scss';
@import '~styles/styles.scss';

.c-testimonial {
    background: $testimonial-bg-color;
    height: auto;
}
.c-testimonial__items {
    margin-top: 100px;
    margin-bottom: 70px;
        img {
            margin-bottom: 35px;
        }
}
.c-testimonial__info {
    margin-bottom: 15px;
    color: $gray-font-color;
        span {
            font-weight: bold;
            color: #000;
        }
}
.c-testimonial__text {
    font-size: 18px;
    color: $gray-font-color;
    font-style: italic;
    padding: 0 300px;
    line-height: 1.5;
    margin: 0px;
}
.c-testimonial__navigation {
   position: relative;
   display: inline-block;
   padding: 0;
   list-style: none;
   cursor: default;
   margin-bottom: 55px;
}
.c-testimonial__navigation li {
    position: relative;
    display: block;
    float: left;
    margin: 0 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.c-testimonial__navigation a {
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    outline: none;
    border-radius: 50%;
    background-color: rgba(186,186,186,0.3);
    text-indent: -999em;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    background-color: $testimonial-bg-color;
    box-shadow: inset 0 0 0 1px $testimonial-nav-color;
    transition: background 0.3s;
}
.c-testimonial__navigation li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: $testimonial-nav-color;
    transition: height 0.3s;
}
.c-testimonial__navigation li a:hover,
.c-testimonial__navigation li a:focus {
    background-color: rgba(0,0,0,0.2);
}
.c-testimonial__navigation li.current a::after {
    height: 100%;
}