@import '~styles/variables.scss';
@import '~styles/styles.scss';

.c-header {
    background: url('/home.png') no-repeat top;
    font-size: $base-font-size;
    font-weight: bold;
    letter-spacing: $base-letter-spacing;
    height: 960px;
        a {
            text-decoration: none;
            color: $black-font-color;
            display: inline-block;
            cursor: pointer;
            line-height: 2;
        }
}
.c-header__menu{
    margin: 0 auto;
    padding-top: 60px;
    height: 85px;
}
.c-header__logo {
    position: relative;
    top: -40%;
}
.c-header__list {
    margin: 0;
    padding: 0;
    list-style: none;
        li {
            height: 85px;
            display: inline-block;
            text-align: right;
            text-transform: uppercase;
        }
}
.c-header__list .list--left-align {
    text-align: left;
}
.c-header__list a:after {
    display: block;
    position: relative;
    left: 50%;
    content: "";
    height: 2px;
    width: 0%;
    background-color: $underline-background-color;
    transition: all .3s ease-in-out;
}
.c-header__list a:hover:after,
.c-header__list a:focus:after {
    width: 100%;
    left: 0;
}
.c-header__list form {
    width: 60%;
    float: right;
    margin-right: 25px;
}
.c-header__list input[type=text] {
    width: 40px;
    height: 40px;
    background: #ff6347;
    font-size: 10pt;
    float: left;
    padding-left: 38px;
    border-radius: 50%;
}
.c-header__list input[type=text]::placeholder {
    color: #fff;
}
.c-header__list input[type=text]:hover {
    width: 95%;
    transition: width .55s ease;
    border-radius: 5px;
}
.c-header__list img {
    position: absolute;
    top: 67px;
    right: 349px;
    z-index: 1;
}