@import '~styles/variables.scss';
@import '~styles/styles.scss';

.c-about-bg {
    background: $about-bg-color;
}
.c-about {
    width: 65%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.c-about__article h2 {
    text-transform: uppercase;
}
.c-about__article h2,
.c-about__article p {
    text-align: center;
    line-height: 200%;
}
.c-about__icon {
    padding-bottom: 15px;
}