@import '~styles/variables.scss';
@import '~styles/styles.scss';

.c-work {
    background: $white-background;
}
.c-work__picture img {
    max-width: 100%;
    height: auto;
    float: left;
}
.c-work__description {
    margin-top: 160px;
    margin-bottom: 160px;
        p {
            font-size: $base-font-size;
            color: $gray-font-color;
            box-sizing: border-box;
            padding-right: 70px;
            padding-left: 35px;
        }
}
.c-work__description h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}
.c-work__description h2,
.c-work__description p {
    text-align: center;
    line-height: 200%;
}
.closed {
    display: none;
}
.opened {
    display: block;
}